$darkShadeBlack: #1F2041;
$darkShadeGray: rgba(31, 32, 65, 0.75);
$darkShadeHalf: rgba(31, 32, 65, 0.5);
$darkShadeFourth: rgba(31, 32, 65, 0.25);
$darkShadeLight: rgba(31, 32, 65, 0.05);

$purple: #BC9CFF;
$green: #6FCF97;

$largeSize: 24px;
$middleSize: 19px;
$smallSize: 12px;
$bodySize: 14px;

$bigSizeLineHeight: 30px;
$middleSizeLineHeight: 24px;
$smallSizeLineHeight: 15px;
$bodySizeLineHeight: 18px;